html {

}

body {
    background: url(../img/rocks.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-top: 70px;
}

.container {
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: rgba(0,0,0,0.4);
    color: ghostwhite;
    font-size: 18px;
}

.panel {
    background-color: rgba(0,0,0,0.24);
    border-radius: 0;
    border-width: 0;
    color: ghostwhite;
}

.navbar-fixed-bottom {
    background-color: rgba(0,0,0,0.5);
}

.fb {
    background-image: url(http://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/48iqvDSXkFO.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -31px -100px;
    height: 41px;
    padding: 0;
    position: relative;
    width: 41px;
    z-index: 2;
}
p {
    line-height: 1.8;
}

.name {
    font-family: 'Special Elite', cursive;
    font-size: 28px;
}
