<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">Photos</div>
                <div class="panel-body">
                    <p>Here are some of my latest photos...</p>
                </div>
            </div>
        </div>
    </div>

    <tabset justified="true">
        <tab ng-repeat="folder in folders" heading="{{ folder.name }}">{{ folder.name }}</tab>
    </tabset>

   <!-- <div ng-repeat="folder in folders">
        <span ng-switch="" on="$index % 4">
            <div class="row" ng-switch-when="0">
                <div class="col-md-3" ng-show="folders[$index+0]">
                    <div class="panel">

                        <div class="panel-body">

                        </div>
                        <div class="panel-footer">{{folders[$index+1].name}}</div>
                    </div>

                    {{folders[$index+0].name}}</div>
                <div class="col-md-3" ng-show="folders[$index+1]">{{folders[$index+1].name}}</div>
                <div class="col-md-3" ng-show="folders[$index+2]">{{folders[$index+2].name}}</div>
                <div class="col-md-3" ng-show="folders[$index+2]">{{folders[$index+3].name}}</div>
            </div>
        </span>
    </div>-->
</div>